.header {
    width: 100%;
    height: 150px;
    background-color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 999;
}
.h_top {
    width: 100%;
    height: 90px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.h_nav {
    width: 90%;
    height: 60px;
    background-color: #fff;
    box-sizing: border-box;
}
.h_nav ul li {
    box-sizing: border-box;
    line-height: 40px;
    text-align: center;
    width: 9.5%;
    float: left;
    font-family: handwritten;
}
.h_nav li.on::before {
    content: "#";
    font-size: 22px;
}
.h_nav ul li:nth-child(7) {
    width: 12%;
}
.h_nav ul a {
    font-size: 22px;
    color: #000;
}